KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=replace-with-a-local-random-password
POSTGRES_DB=tutorops
POSTGRES_USER=tutorops
POSTGRES_PASSWORD=replace-with-a-local-random-password
TUTOROPS_DB_URL=jdbc:postgresql://localhost:5432/tutorops
TUTOROPS_OIDC_ISSUER=http://localhost:8081/realms/tutorops
TUTOROPS_OIDC_JWK_SET_URI=http://localhost:8081/realms/tutorops/protocol/openid-connect/certs
TUTOROPS_OIDC_JWK_SET_URI_COMPOSE=http://keycloak:8080/realms/tutorops/protocol/openid-connect/certs
TUTOROPS_CORS_ALLOWED_ORIGIN=http://localhost:5173
VITE_KEYCLOAK_URL=http://localhost:8081
VITE_KEYCLOAK_REALM=tutorops
VITE_KEYCLOAK_CLIENT_ID=tutorops-web
VITE_API_CLIENT_ID=tutorops-api
VITE_API_URL=http://localhost:8080
